project/vitis_hls.log
project/p00/*
project/p01/solution1/.*
project/p01/solution1/sim/*
project/p01/solution1/syn/*
project/p01/solution1/impl/*
project/p01/solution1/csim/*


project/p01/.cproject
project/p01/.project
project/p01/.vitis_hls_log_all.xml
project/p01/hls.app
project/p01/.apc/autopilot.apfmapping
project/p01/.settings/language.settings.xml
project/p01/.settings/p01.Debug.launch
project/p01/.settings/p01.Release.launch
project/p01/solution1/solution1_data.json
project/p01/solution1/solution1.aps
project/p01/solution1/solution1.directive
project/p01/solution1/solution1.funcunit
project/p01/solution1/solution1.log
